<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/criar_vaga.css">
    <title>Criar Vaga</title>
</head>
<body>
    <div class="form-container">
        <form id="createJobForm">
            
            <h1 id="title_vaga">Criar Nova Vaga</h1>
            <div>
                <label for="titulo">Título da Vaga</label>
                <input type="text" id="titulo" name="titulo" required>
            </div>

            <div>
                <label for="descricao">Descrição da Vaga</label>
                <textarea id="descricao" name="descricao" rows="5" required></textarea>
            </div>

            <div>
                <label for="localizacao">Localização</label>
                <input type="text" id="localizacao" name="localizacao">
            </div>

            <div>
                <label for="salario">Salário</label>
                <input type="number" id="salario" name="salario" step="0.01">
            </div>

            <div>
                <label for="tipo_contrato">Tipo de Contrato</label>
                <select id="tipo_contrato" name="tipo_contrato" required>
                    <option value="CLT">CLT</option>
                    <option value="PJ">PJ</option>
                    <option value="Freelancer">Freelancer</option>
                    <option value="Estágio">Estágio</option>
                </select>
            </div>

            <div>
                <label for="nivel_experiencia">Nível de Experiência</label>
                <select id="nivel_experiencia" name="nivel_experiencia" required>
                    <option value="Júnior">Júnior</option>
                    <option value="Pleno">Pleno</option>
                    <option value="Sênior">Sênior</option>
                </select>
            </div>
            <button type="submit">Criar Vaga</button>
            <button id="reset" type="reset">Limpar</button>
        </form>

        <div id="responseMessage" class="error" style="display: none;"></div>
    </div>

    <script src="/js/criar-vaga.js"></script>

</body>
</html>
