<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Cadastro de Usuário</title>
</head>
<body>
  <h1>Cadastro de Usuário</h1>
  <form id="registerForm">
    <input type="text" name="name" placeholder="Nome" required />
    <input type="email" name="email" placeholder="Email" required />
    <input type="password" name="password" placeholder="Senha" required />
    <input type="text" name="cpf_cnpj" placeholder="CPF/CNPJ" required />
    <select name="type_user_id">
      <option value="3">Profissional</option>
      <option value="2">Empresa</option>
    </select>
    <button type="submit">Registrar</button>
  </form>

  <script src="/js/cadastro.js"></script>
  
</body>
</html>
